.bg-color {
    background-color: #FFF8F3
}
.open-sans-nav {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}
.dark-1 {
    color: #181818;
}
.btn-primary {
    background: #FD6E0A;
    font-size: 20px;
    color:white;
    font-weight: 400px;
    border: none;
    border-radius: 5px;
    padding: 18px 32px;
}
.text-cntr{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;       
}
.sec-details{
    font-size: 18px;
    color: #757575;
}
.header {
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 230px;
    
}
.nav-title {

    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;   
}
nav ul a {
    text-decoration: none;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px; 
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    font-weight: bold;
    font-size: 85px;
}
.banner-pro-pic{
    width: 584px;
    height: 676px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about-me{
    padding: 130px 150px;
    margin-top: 130px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF8F3;
}
.about-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.item-details{
    font-weight: 600;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.exp-sub-title{
    font-size: 20px;
}
.exp-details, .exp-sub-title{
    color: #757575;
}
footer{
    background-color: #FFF8F3;
    margin-top: 100px;
}
.foot{
    display: flex;
    padding: 130px 300px;
    gap: 100px;
}
.connect-msg{
    width: 50%;
}
footer input[type="text"]{
    height: 64px;
    width: 461px;
    border-radius: 5px;
    color: #757575;
    margin-bottom: 24px;
    border: none;
    padding: 10px 30px;
}
footer input[type="email"]{
    height: 64px;
    width: 461px;
    border-radius: 5px;
    color: #757575;
    margin-bottom: 24px;
    border: none;
    padding: 10px 30px;
}
footer textarea{
    height: 180px;
    width: 461px;
    border-radius: 5px;
    color: #757575;
    margin-bottom: 24px;
    border: none;
    padding: 100px 30px;
}
